@font-face {
  font-family: "Zabars";
  src: url(./media/fonts/ZABARS/Zabars.ttf);
}

* {
  font-family: "Zabars", sans-serif;
  letter-spacing: 3px;
  font-size: 56px;
}

html {
  background-color: rgb(203, 91, 0);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}
