@font-face {
  font-family: "Zabars";
  src: url(./media/fonts/ZABARS/Zabars.ttf);
}

* {
  font-family: "Zabars", sans-serif;
  letter-spacing: 3px;
  font-size: 56px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(.//media/images/desert2.png);
  background-position: center;
  background-repeat: no-repeat;
}

canvas {
  background-color: black;
  display: block;
}

@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }
}

@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
  h1 {
    display: none;
  }
}
